<h2>About this project</h2>
<p>The purpose of this project is to create a collection of information about some aspects of Game of Thrones.</p>
<h4>Data Sources used for this project:</h4>
<ul>
  <li><a href="•	http://api.tvmaze.com/">TVMaze:</a>this source has information about the TV Serie: Season and Episodes</li>
  <li><a href="https://anapioficeandfire.com/">AnAPIOfIceAndFire</a></li>
  <li><a href="https://api.got.show/doc/"></a></li>
</ul>